canvas {
      position: absolute;
    }
    #time-layer {
      z-index: 5;
    }
    #sign-layer {
      z-index: 4;
    }
    #inner-face-layer {
      z-index: 3;
    }
    #outer-face-layer {
      z-index: 2;
    }
    #background-layer {
      z-index: 1;
    }
    #main-body {
      max-height: 80%; min-height: 700px; height: auto;
    }