<!-- initially hidden right-click menu -->
<div id="main-body">
<div id="menu" class="menu">
  <ul class="menu-options">
    <li id="tick_every_second" class="menu-option">Tick Every Second</li>
    <li id="show_moon_phases" class="menu-option">Show Moon Phases</li>
    <li id="show_horizon" class="menu-option">Show Horizon</li>
    <li id="auto_dark_mode" class="menu-option">Auto Dark Mode</li>
    <li id="dark_mode" class="menu-option">Dark Mode</li>
    <hr />
    <li id="sun" class="menu-option">Show Sun</li>
    <li id="moon" class="menu-option">Show Moon</li>
    <li id="mercury" class="menu-option">Show Mercury</li>
    <li id="venus" class="menu-option">Show Venus</li>
    <li id="mars" class="menu-option">Show Mars</li>
    <li id="saturn" class="menu-option">Show Saturn</li>
    <li id="jupiter" class="menu-option">Show Jupiter</li>
    <li id="uranus" class="menu-option">Show Uranus</li>
    <li id="neptune" class="menu-option">Show Neptune</li>
    <li id="pluto" class="menu-option">Show Pluto</li>
    <hr />
    <li id="chiron" class="menu-option">Show Chiron</li>
    <li id="lilith" class="menu-option">Show Lilith</li>
    <li id="asc_node" class="menu-option">Show Ascending Lunar Node</li>
    <hr />
    <li id="midheaven" class="menu-option">Show Midheaven</li>
    <li id="ascendant" class="menu-option">Show Ascendant</li>
    <hr />
    <li id="part_fortune" class="menu-option">Show Part of Fortune</li>
    <li id="part_spirit" class="menu-option">Show Part of Spirit</li>
    <li id="part_eros" class="menu-option">Show Part of Eros</li>
  </ul>
</div>
<div id="info" class="info">
  Right-click for options
</div>
<div class="font_preload" style="opacity: 0">
  <span style="font-family: Astro, Arial, sans-serif;"></span>
</div>
<canvas id="time-layer"></canvas>
<canvas id="sign-layer"></canvas>
<canvas id="inner-face-layer"></canvas>
<canvas id="outer-face-layer"></canvas>
<canvas id="background-layer"></canvas>
<script src="/app/assets/ephemeris-1.2.1.bundle.js" type="text/javascript"></script>
<script src="/app/assets/clock.js" type="text/javascript"></script>
<!-- 
<router-outlet></router-outlet> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a rel="noopener" href="/main-screen">Tour of calendar</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://perimeter.gitlab.io/astro-calendar">Calendar separetely</a></h2>
  </li>
</ul> -->
</div>