<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>

<div style="display: flex; justify-self: end; width: 100%; height: auto">
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a rel="noopener" href="/main-screen">Tour of calendar</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://perimeter.gitlab.io/astrocalendar">Calendar separetely</a></h2>
  </li>
</ul>

<div id="chartdiv" style="width: 100%; height: 500px"></div>
</div>